upstream k8s-api {
    server {{ "{{ hostvars['k8s-cp-1']['ansible_default_ipv4']['address'] }}" }}:6443;
    server {{ "{{ hostvars['k8s-cp-2']['ansible_default_ipv4']['address'] }}" }}:6443;
    server {{ "{{ hostvars['k8s-cp-3']['ansible_default_ipv4']['address'] }}" }}:6443;
}

server {
    listen 6443;
    proxy_pass k8s-api;
}
{% for service, port, nodeport in lists %}
upstream {{ service }} {
    server {{ "{{ hostvars['k8s-wk-1']['ansible_default_ipv4']['address'] }}" }}:{{ nodeport }};
    server {{ "{{ hostvars['k8s-wk-2']['ansible_default_ipv4']['address'] }}" }}:{{ nodeport }};
    server {{ "{{ hostvars['k8s-wk-3']['ansible_default_ipv4']['address'] }}" }}:{{ nodeport }};
}

server {
    listen {{ port }};
    proxy_pass {{ service }};
}
{% endfor %}
