asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
Deprecated==1.2.14
Django==5.1
googleapis-common-protos==1.65.0
grpcio==1.66.1
idna==3.8
importlib_metadata==8.4.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-django==0.48b0
opentelemetry-instrumentation-wsgi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
protobuf==4.25.4
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.2
wrapt==1.16.0
zipp==3.20.1
