- name: all
  hosts: all
  remote_user: "{{ USER }}"
  become: true
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.all.tasks }}"
      when: variables.k8s.all.tasks

- name: cp
  hosts: cp
  remote_user: "{{ USER }}"
  become: true
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.cp.tasks }}"
      when: variables.k8s.cp.tasks

- name: cp-join
  hosts: cp_join
  remote_user: "{{ USER }}"
  become: true
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.cp_join.tasks }}"
      when: variables.k8s.cp_join.tasks

- name: wk-backup
  hosts: wk_backup
  remote_user: "{{ USER }}"
  become: true
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.wk_backup.tasks }}"
      when: variables.k8s.wk_backup.tasks

- name: wk
  hosts: wk
  remote_user: "{{ USER }}"
  become: true
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.wk.tasks }}"
      when: variables.k8s.wk.tasks

- name: cp-after
  hosts: cp
  remote_user: "{{ USER }}"
  become: false
  vars_files:
    - ./env.yml
    - ./vars.yml
  tasks:
    - include_tasks: "./tasks/{{ item }}"
      with_items: "{{ variables.k8s.cp_after.tasks }}"
      when: variables.k8s.cp_after.tasks
