apiVersion: kubeadm.k8s.io/v1beta4
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ KUBE_API_SERVER_VIP }}:8443
    token: {{ KUBEADM_BOOTSTRAP_TOKEN }}
    unsafeSkipCAVerification: true
  tlsBootstrapToken: {{ KUBEADM_BOOTSTRAP_TOKEN }}
kind: JoinConfiguration
nodeRegistration:
  criSocket: unix://{{ CRI_SOCKET_PATH }}
  imagePullPolicy: IfNotPresent
  imagePullSerial: true
  taints: null
timeouts:
  controlPlaneComponentHealthCheck: 4m0s
  discovery: 5m0s
  etcdAPICall: 2m0s
  kubeletHealthCheck: 4m0s
  kubernetesAPICall: 1m0s
  tlsBootstrap: 5m0s
  upgradeManifests: 5m0s
